- form_for [:admin, @podcast, @podcast_episode], :html => {:multipart => true} do |f|
  .form-area
    = f.hidden_field :podcast_id, :value => @podcast.id
    %p.title
      = f.label :title
      = f.text_field :title, :class => 'textbox', :maxlength => 255
    %p.subtitle
      = f.label :subtitle, "Subtitle (optional) "
      = f.text_field :subtitle, :class => 'textbox', :maxlength => 255, :style => "width: 100%"
    %p.description
      = f.label :description
      ~ f.text_area :description, :class => "textarea", :style => "width: 100%; height: 100px;"
    #meta.row
      %table.fieldset
        %tr
          %th.label
            = f.label :uploaded_data, "Audio/Video File", :class => 'textbox'
          %td.field{:style=>'text-align: left'}
            - unless @podcast_episode.filename.nil?
              %p= @podcast_episode.filename
            = f.file_field :uploaded_data, :class => 'textbox'
        %tr
          %th.label
            = f.label :publish_on
          %td.field{:style=>'text-align: left'}
            = f.datetime_select :publish_on, :class => 'textbox'
        %tr
          %th.label
            = f.label :link, "Link (blank for default)", :class => "optional"
          %td.field{:style=>'text-align: left'}
            = f.text_field :link, :class => 'textbox', :maxlength => 4000

  = javascript_tag "$('podcast_episode_title').activate()"

  %p.buttons
    = save_model_button(@podcast_episode, :label => @podcast_episode.new_record? ? "Create Episode" : "Save Changes")
    or
    = link_to 'Cancel', admin_podcasts_url

