- form_for [:admin, @podcast], :html => {:multipart => true} do |f|
  .form-area
    %p.title
      = f.label :title
      = f.text_field :title, :class => 'textbox', :maxlength => 255
    %br
    %p.slug
      = f.label :slug, "Feed URL"
      %br
      %span{:style => "white-space: nowrap"}
        = podcast_url('') + (f.text_field :slug, :class => 'textbox', :maxlength => 255, :style=> "width: 300px")
    %p.subtitle
      = f.label :subtitle, "Subtitle (optional) "
      = f.text_field :subtitle, :class => 'textbox', :maxlength => 255, :style => "width: 100%"
    %p.description
      = f.label :description
      ~ f.text_area :description, :class => "textarea", :style => "width: 100%; height: 100px;"
    #meta.row
      %table.fieldset
        %tr
          %th.label
            = f.label :image, "Logo", :class => 'optional'
          %td.field
            - if !@podcast.image.nil? && @podcast.image.valid?
              %p
                = image_tag(@podcast.image.public_filename)
            = f.file_field :image, :class => 'textbox'
        %tr
          %th.label
            = f.label :author
          %td.field
            = f.text_field :author, :class => 'textbox', :maxlength => 255
        %tr
          %th.label
            = f.label :email
          %td.field
            = f.text_field :email, :class => 'textbox', :maxlength => 255
        %tr
          %th.label
            = f.label :copyright
          %td.field
            = f.text_field :copyright, :class => 'textbox', :maxlength => 255
        %tr
          %th.label
            = f.label :link
          %td.field
            - if !@podcast.link.nil?
              = f.text_field :link, :class => 'textbox', :maxlength => 4000
            - else
              = f.text_field :link, :value => "http://#{request.host}/", :class => 'textbox', :maxlength => 4000
        %tr
          %th.label
            = f.label :categories
          %td.field{:style=>'text-align: left;'}
            ~ f.select :categories_array, itunes_categories_options_for_select, {}, {:style=>"float: left; margin-left: 6px;", :multiple => true, :size => '10'}
            %div{:style=>'float: left; margin-left: 5px; width: 125px'} 
              CTRL+click to select
              multiple categories
        %tr
          %th.label
            = f.label :keywords
          %td.field
            ~ f.text_area :keywords, :class => "textarea"

  = javascript_tag "$('podcast_title').activate()"

  %p.buttons
    = save_model_button(@podcast)
    or
    = link_to 'Cancel', admin_podcasts_url

