!!! XML
%rss{:version => "2.0", "xmlns:itunes"=>"http://www.itunes.com/DTDs/Podcast-1.0.dtd"}
  %channel
    %title= @podcast.title
    %link= @podcast.link
    %language en-us
    %copyright= @podcast.copyright
    %itunes:subtitle= @podcast.subtitle
    %itunes:author= @podcast.author
    %itunes:summary= @podcast.description
    %description= @podcast.description
    %itunes:owner
      %itunes:name= @podcast.author
      %itunes:email= @podcast.email
    - unless @podcast.image.nil?
      %itunes:image{:href => ("http#{'s' if request.ssl? || request.port==443}://#{request.host_with_port}"+@podcast.image.public_filename)}
    %itunes:category{:text=>"foo"}
      %itunes:category{:text=>"bar"}

